<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Makersplace - RFID</a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>
      </div>
    </div>
     <form action="/addcard" method="post" class="form-horizontal">
		  <div class="form-group">
    		 <label for="uuid" class="col-sm-2 control-label">Reader UUID </label>
    		 <div class="col-sm-10">
      	   <input type="text" class="form-control" name="uuid" id="uuid">
    		 </div>
  		  </div>
		  <div class="form-group">
    		 <div class="col-sm-2 control-label">Card # </div>
    		 <div class="col-sm-10">
      	   <input type="text" class="form-control" name="cardnumber">
    		 </div>
  		  </div>
		  <div class="form-group">
          <div class="col-sm-2 control-label">Active seconds  </div>
    		 <div class="col-sm-10">
      	   <input type="text" class="form-control" name="authtime" value="5">
    		 </div>
  		  </div>
        <div class="form-group">
          <div class="col-sm-5 control-label">Active seconds  </div>
            <button type="submit" class="btn btn-info col-sm-10">Add card</button>
  		  </div>
      </form>
      
      <h3>
        Configuration
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th>Reader UUID</th>
            <th>Card #</th>
            <th>Name</th>
            <th>Active</th>
            <th>Opening length</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for config in configs %}
          <tr>
            <form action="/editcard" method="post">
              <td><input type="text" name="uuid" value="{{ config.uuid }}"></td>
              <td><input type="text" name="cardnumber" value="{{ config.cardnumber }}" readonly></td>
              <td><input type="text" name="cardname" value="{{ cards[config.cardnumber] }}" readonly></td>
              <td><input type="checkbox" name="active" {% if config.active %} checked {% endif %} value="{{ config.active }}"></td>
              <td><input type="number" name="authtime" value="{{ config.authtime }}" size="4"></td>
              <td>    
                  <input type="hidden" name="key" value="{{ config.key.urlsafe() }}">
                  <input type="submit" class="btn btn-info btn-xs" value="Update">
              </td>
            </form>
            <td>    
              <form action="/deletecard" method="post">
                <input type="hidden" name="key" value="{{ config.key.urlsafe() }}">
                <input type="hidden" name="uuid" value="{{ config.uuid }}">
                <input type="hidden" name="cardnumber" value="{{ config.cardnumber }}">
        			 <input type="submit" class="btn btn-danger btn-xs" value="Delete">
      		  </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Card #</th>
            <th>Name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for card in cards %}
          <tr>
            <form action="/setcardname" method="post">
              <td><input type="text" name="cardnumber" value="{{ card }}" readonly></td>
              <td><input type="text" name="name" value="{{ cards[card] }}"></td>
              <td>    
                  <input type="submit" class="btn btn-info btn-xs" value="Update">
              </td>
            </form>
            <td>    
              <form action="/setcardname" method="post">
                <input type="hidden" name="cardnumber" value="{{ card }}">
                <input type="hidden" name="name" value="">
        			 <input type="submit" class="btn btn-danger btn-xs" value="Delete">
      		  </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <h3>
        Last 50 log entry
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Actor</th>
            <th>Action</th>
            <th>Cardnumber</th>
            <th>Data</th>
            <th>Remote IP</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for log in logs %}
          <tr>
            <td>{{ log.ts }}</td>
            <td>{{ log.actor }}</td>
            <td>{{ log.actiontype }}</td>
            <td>{{ log.cardnumber }}</td>
            <td>{{ log.data }}</td>
            <td>{{ log.remote_ip }}</td>
            <td>
              {% if 'result: 0' in log.data %}
                <form action="/addcard" method="post">
                  <input type="hidden" name="uuid" value="{{ log.actor }}">
                  <input type="hidden" name="cardnumber" value="{{ log.cardnumber }}">
                  <input type="hidden" name="authtime" value="5">
                  <button type="submit" class="btn btn-info">Add card</button>
                </form>
              {% else %}
                 N/A
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      
      <h3>
        Last 50 dump request
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Actor</th>
            <th>Action</th>
            <th>Cardnumber</th>
            <th>Data</th>
            <th>Remote IP</th>
          </tr>
        </thead>
        <tbody>
        {% for dump in dumps %}
          <tr>
            <td>{{ dump.ts }}</td>
            <td>{{ dump.actor }}</td>
            <td>{{ dump.actiontype }}</td>
            <td>{{ dump.cardnumber }}</td>
            <td>{{ dump.data }}</td>
            <td>{{ dump.remote_ip }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      
  </body>
</html>
{% endautoescape %}
